package ${packageName}.entity.pojo.wecom.domain;

import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;
import com.scrm.entity.annotation.Excel;
import com.scrm.entity.base.BaseEntity;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.experimental.SuperBuilder;

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@Accessors(chain = true)
@TableName("${tableName}")
@SuperBuilder
public class ${ClassName} extends BaseModel{


#foreach ($column in $columns)
    #if($column.javaField != 'createTime'
    && $column.javaField != 'updateTime'
    && $column.javaField != 'createBy'
    && $column.javaField != 'updateBy'
    && $column.javaField !='delFlag'
    && $column.javaField != 'deleteTimestamp'
    && $column.javaField !='id'
    && $column.javaField !='corpId')
    /** $column.columnComment */
        #if($column.javaType == 'Date')
        @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
        #end
    private $column.javaType $column.javaField;
    #end
#end
}
